{% extends "base.html.twig" %}

{% block body %}
	<h1>Bienvenue</h1>
	{# {{ form(form) }} #}
	<p>J'ai passé pas mal de temps à tenter d'accéder à la base de données sqlite3 qui est une base que je n'avais jamais exploité auparavant. J'ai initialement imaginé développer le projet en Symfony, puis en  natif, pour au final me rabattre sur Symfony. N'ayant jusqu'ici pas développé d'API requierant une authentification, j'ai essayé de me documenter sur le sujet, notamment avec l'outil API Platform et les Token JWT. Je n'ai cependant pas pu concrétiser cet aspect là.</p>
{% endblock %}
